.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 12px 18px;

  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--dark-blue);
  outline: 2px solid transparent;
  transition: 0.2s ease;
}

.input:focus {
  outline-color: var(--blue);
}