.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: var(--body-spacing);
  left: var(--body-spacing);

  width: var(--sidebar-default-width);

  overflow: hidden;
  transition: 0.4s ease;
}

.sidebar:hover {
  width: var(--sidebar-active-width);
}

.sidebar:hover + .content {
  padding-left: calc(var(--body-spacing) + var(--sidebar-default-width) + var(--body-spacing) + (var(--sidebar-active-width) - var(--sidebar-default-width)));
}

.content {
  padding: calc(var(--body-spacing) + var(--header-padding-top) + var(--header-height) + var(--body-spacing)) var(--body-spacing) var(--body-spacing) calc(var(--body-spacing) + var(--sidebar-default-width) + var(--body-spacing));
  width: 100%;
  height: 200vh;
  transition: 0.4s ease;
}

.sidebar:hover + .content + .header-layout {
  width: calc(100% - (var(--body-spacing) + var(--sidebar-default-width) + var(--body-spacing) + var(--body-spacing) + (var(--sidebar-active-width) - var(--sidebar-default-width))));
}
