.form {
  width: 375px;
}

.button {
  margin-top: 15px;
}

.links {
  display: flex;
  gap: 5px;
  justify-content: flex-end;

  text-align: right;
  color: var(--gray);
}

.links a {
  color: var(--gray);
}
