.button {
  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.small {
  font-size: 18px;
  padding: 15px 30px;
}

.big {
  font-size: 20px;
  padding: 17px 85px;
}

.accent {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.accent:hover {
  background: var(--primary-hover-color);
}

.white {
  color: var(--primary-color);
  background-color: var(--text-color);
}

.white:hover {
  background-color: var(--light-gray);
}

.button:disabled {
  cursor: default;
  background-color: var(--gray);
}

.button:disabled:hover {
  cursor: default;
  background-color: var(--gray);
}
