.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--body-spacing);

  padding: 50px 15px;
 }

.menu:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 15px;
  background-color: var(--primary-color);
  animation: slideDown 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
  gap: 37px;
}

.logo img:first-child {
  transform: translateX(12px);
}

.logo img:last-child {
  opacity: 0;
  transition: 0.4s ease;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.menu:hover span {
  opacity: 1 !important;
}

.menu:hover .logo img:last-child {
  opacity: 1;
}
