.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--body-spacing);

  min-height: calc(100vh - calc(var(--body-spacing) + var(--header-height) + var(--body-spacing) + var(--heading-height) + var(--body-spacing)));
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--body-spacing);
}

.first-load {
  position: fixed !important;
  top: 50%;
  left: 50%;
}
