.modal {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--body-spacing);

  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--body-spacing);

  padding: var(--body-spacing);

  border-radius: 15px;
  background-color: var(--primary-color);
}

.message {
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--body-spacing);
}