.auth-form {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 50px 70px;
  border-radius: 20px;

  background-color: var(--primary-color);
}

.title {
  margin: 0 0 15px 0;
  font-size: 32px;
}

.with-back-arrow {
  margin-top: 20px;
}

.back-arrow {
  position: absolute;
  top: 24px;
  left: 18px;

  width: 40px;
  height: 35px;

  background: none;
  border: none;
  cursor: pointer;
}

.back-arrow img {
  width: 100%;
  height: 100%;
}