.header {
  position: fixed;
  z-index: 10;
  top: 56px;
  right: var(--body-spacing);

  width: calc(100% - (var(--body-spacing) + var(--sidebar-default-width) + var(--body-spacing) + var(--body-spacing)));
  height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  transition: 0.4s ease;
}

.block {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.block.links {
  background-color: transparent;
  transition: 0.4s ease;
}

.block-link {
  white-space: nowrap;
}

.header.scroll .block.links {
  padding: 10px 20px;
}

.block.controls {
  padding: 10px 20px;
  border-radius: 15px;

  background-color: var(--primary-color);
  animation: fillBg 1s ease;
}

.notifications {
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--text-color);
  text-decoration: none;
}

.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.background {
  box-sizing: border-box;

  content: '';
  position: absolute;
  top: -16px;
  right: 0;

  width: 0;
  height: 64px;

  padding: 0;

  border-radius: 15px;
  background-color: var(--primary-color);
  transition: 0.5s ease;
}

.header.scroll .background {
  width: 100% !important;
  box-shadow: 0 10px 40px 0 var(--dark-blue);
}

@keyframes fillBg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}