.block {
  display: flex;
  gap: var(--body-spacing);
  align-items: flex-end;
}

.hide {
  position: absolute;
  z-index: -10;
  opacity: 0;
  font-size: 18px;

  display: block;
  line-break: anywhere;
  max-width: 450px;
}

.input {
  max-width: 450px;
}
