:root {
  --font: "Montserrat Alternates", sans-serif;

  --bg-color: #1b2031;
  --primary-color: #364156;
  --primary-hover-color: #2c3546;
  --text-color: #ffffff;

  --dark-blue: #222738;
  --blue: #6375b9;
  --gray: #a6a6a6;
  --light-gray: #e1e1e1;

  --body-spacing: 40px;
  --sidebar-default-width: 74px;
  --sidebar-active-width: 270px;
  --header-height: 64px;

  --positive-rating: #3bb33b;
  --neutral-rating: #777777;
}

body {
  margin: 0;

  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

div[class^="rnc__notification-container--"] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

div[class^="rnc__notification-container--"]:has(> .rnc__notification) {
  visibility: visible;
  opacity: 1;
}

.swiper.swiper-horizontal {
  padding: 40px 60px
}

.swiper .swiper-pagination.swiper-pagination-horizontal {
  top: auto;
  bottom: 0;
}

.swiper .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {
  background-color: var(--blue);
}

.swiper .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {
  background-color: var(--blue);
}

.swiper.swiper-horizontal .swiper-button-prev,
.swiper.swiper-horizontal .swiper-button-next {
  color: var(--blue);
}
