.add-to-favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 52px;

  padding: 8px;

  border: 1px solid var(--gray);
  border-radius: 8px;
  background: var(--light-gray);
  cursor: pointer;
  transition: 0.4s ease;
}

.add-to-favorite-button svg {
  width: 24px;
  height: 24px;
  fill: transparent;

  transition: fill 0.2s ease;
}

.add-to-favorite-button.active svg {
  fill: var(--primary-color);
}
